<header class="text-center">
  
	<div class="jumbotron mainBanner"></div>
    
</header>

<main>
<h1 class="topText">Eat Burgers, Live Forever!</h1>
<div class="container">
  
  <div class="panel">
    
	<div class="row main">
      <div class="col-md-6">
        <h1 class="midText">Ready to Live Forever!</h1>
          {{#each burgers}}
            {{#unless this.devoured}}
            <div class="row burgers">
              <div class="col-xs-8 burger">
                <h2>{{this.burger_name}}</h2>
              </div>
              <div class="col-1">
                <form action="burgers/update/devour/{{this.id}}?_method=PUT" method="POST">
                  <button class="btn btn-default btn-lg" type="submit">Eat It!</button>
                </form>
              </div>
            </div>
            <hr class="break">
            {{/unless}}
          {{/each}}
      </div>
      
	  <div class="col-md-6">
        <h1 class="midText">Devoured Burgs!</h1>
          {{#each burgers}}
            {{#if this.devoured}}
            <div class="row burgers">
              <div class="col-xs-8 burger">
                <h2>{{this.burger_name}}</h2>
              </div>
              <div class="col-1">
                <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                  <button class="btn-outline btn-lg clear" type="submit">CLEAR!</button>
                </form>
              </div>
            </div>
            <hr class="break">
            {{/if}}
          {{/each}}
      </div>
    </div>
    
	<div class="row">
      <h1 class="addA">Add a Burg</h1>
      <form class="form-inline" action="burgers/create" method="POST">
        <div class="form-group">
          <label for="ca"><h4>Burg Name:</h4></label>
          <input type="text" id="ca" name="name" class="form-control" required>
        </div>
        <button class="btn addB" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>Add Burg</button>
      </form>
    </div>
  
  </div>



</main>
<footer>
		<a class= "foot" href="https://github.com/marshallgberry/FriendFinder">Github Repo</a> |
    <a class= "foot" href="https://www.latlmes.com/arts/return-of-the-golden-age-of-comics-1">Your Wildest Dreams</a>
</footer>