body{
	background-color: grey;
	text-align: center;
}

.jumbotron{
	background-color: orange;
	color: orange;
}

.topText{
	color: orange;
	font-size: 50px;
    font-family: 'Bowlby One SC';
    text-shadow: -3px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1{
	color: black;
	font-size: 20px;
}

.mainBanner{
	background-image: url("../img/burger_2-512.png");
	background-size: contain;
}